#top-jumbo {
  padding: 0 0 400px;
  background: #f3f2f7; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #f3f2f7 12%, #a65ed6 57%, #e4b8f2 100%, #e4b8f2 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #f3f2f7 12%,#a65ed6 57%,#e4b8f2 100%,#e4b8f2 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f3f2f7 12%,#a65ed6 57%,#e4b8f2 100%,#e4b8f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#top-jumbo::after{
  content: "";
  display: table;
  clear: both;
}
#top-jumbo .left-side{
  width: 50%;
  display: inline-block;
  float: left;
}
#top-jumbo .left-side .large-number{
  font-size: 300px;
  font-weight: 700;
  opacity: .1;
  color: #4c44c1;
  position: relative;
  left: -20px;
  z-index: 1;
  top: 60px;
}
#top-jumbo .left-side .info-container {
  position: relative;
  top: -70px;
}
#top-jumbo .left-side .info-container h1 {
  color: #4c44c1;
  font-size: 4.5rem;
  text-transform: capitalize;
}
#top-jumbo .left-side .info-container p {
  color: #f8f8f8;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 25px;
}
#top-jumbo .left-side .info-container .email-area {
  background: white;
  border-radius: 50px;
  padding: 8px 8px;
  margin-top: 30px;
  display: inline-block;
}
#top-jumbo .left-side .info-container .email-area .fa-envelope {
  font-size: 2rem;
  color:#e6cdf9;
  margin-left: 25px;
  position: relative;
  top: 5px;
}
#top-jumbo .left-side .info-container .email-area input[type="email"] {
  background: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  width: 250px;
}
::placeholder {
  color: #b5b6b7;
  opacity: 4; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #b5b6b7;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #b5b6b7;
}
#top-jumbo .left-side .info-container .email-area button {
  background: #4c44c1;
  padding: 20px 45px;
  color: white;
  font-size: 1rem;
  border-radius: 50px;
  text-transform: uppercase;
}
#top-jumbo .right-side{
  width: 50%;
  display: inline-block;
  float: left;
  padding: 0 40px;
}
#top-jumbo .right-side img {
  width: 100%;
}
